# Abhängigkeiten
node_modules/

# Netlify
.netlify/

# Umgebungsvariablen
.env
.env.*

# Lokale Testdateien
cookies.txt

# Deno
deno.lock

# Betriebssystem
.DS_Store
Thumbs.db

# VS Code Workspace (optional)
*.code-workspace